/*
Colors used
Background Color (very light-ish gray): #eeeee4;
Body Text Color (Black): #000;
Primary Color (teal/green): #357b70;
Secondary Color (light yellow/orange): #e0b354;
*/

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --darker-font-color: #2b2b2b;
  --font-weight-body: 400;
  --font-weight-bolder: 700;
  --h1-font-color: darkslategray;
  --background-color: #eeeee4;
  --page-header-color: lightgreen;
  --body-color: #000;
  --anchor-color: #006a5e;
  --a-visited-color: rgb(32, 32, 56);
  --a-active-color: maroon;
  --button-font-color: white;
  --grid-background-color: aliceblue;
}

a {
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
  font-family: 'Merriweather', sans-serif;
  font-weight: var(--font-weight-body);
  font-size: 16px;
  line-height: 1.6;
  color: var(--body-color);
  text-align: center;
  /* default all text alignment to center, then change where needed with more specificity */
}

/* tells the browser to account for any border and padding in the values you specify for an element's width and height. */
* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-bolder);
  color: var(--h1-font-color);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-bolder);
  color: var(--body-color);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-bolder);
  color: var(--body-color);
}

a {
  color: var(--anchor-color);
  font-weight: var(--font-weight-bolder);
}

a:visited {
  /* visited link */
  color: var(--a-visited-color);
}

a:hover,
a:focus {
  /* Remove underline and italicize font when hovering over a link */
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: font-style;
  font-style: italic;
}

a:active {
  /* selected link */
  color: var(--a-active-color);
}

.navigation-list__item:hover {
  background-color: lightgoldenrodyellow;
  transition: 0.2s;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the button */
  background-color: var(--primary-color);
  color: var(--button-font-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--darker-font-color);
}

.button__github {
  background-color: lightgreen;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.about-me-portrait {
  border-radius: 25%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  top: 110px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 40px;
  margin-bottom: 60px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: var(--page-header-color);
  border-bottom: solid 1px blue;
}

.page-header__item {
  flex: 0 1 65px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

.grid__item:hover {
  background-color: lightcoral;
  transition: 0.3s;
}

/* end grid fallback */

.contact-main {
  max-width: 500px;
}

.contact-info {
  margin-top: 30px;
}

.contact-main,
.contact-form {
  display: grid;
  text-align: center;
  justify-content: center;
  margin: 0 auto;

  /* max-width: 50px; */
  grid-template-columns: 1fr;
  width: 60%;
}

.technologies-used-items {
  list-style-type: none;
  text-align: left;
}

.technologies-used-header {
  text-align: center;
  font-weight: bolder;
}

@supports (display: grid) {
  .grid {
    display: grid;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /* margin: 0; */
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .grid__item {
    background-color: var(--grid-background-color);
    padding: 20px;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  /* Note - Can delete the 'last-child' and 'project5' stylings below - or make them look totally different */
  /* .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  } */
}

/* end @supports */

/* push header down so it doesn't overlap with profile picture */
@media all and (max-width: 432px) {

  /* move Hello World blurb down below profile pic and center content on screen */
  .profile {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    text-align: center;
  }

  /* center profile pic on smaller screens */
  .profile__portrait {
    margin-left: 0;
    margin-right: 0;
  }

  .page-footer-home {
    margin-top: 100px;
  }

  .contact-info {
    margin-top: 100px;
  }
}

@media all and (max-width: 432px) {
  .contact-info {
    margin-top: 120px;
  }
}

@media all and (min-width: 432px) and (max-width: 575px) {
  .page-footer-home {
    margin-top: 150px;
  }

  .contact-info {
    margin-top: 55px;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
  }

  .contact-info {
    margin-top: 55px;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

.about-me {
  position: relative;
  top: 110px;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.8;
}

#about-me-blurb {
  font-style: italic;
}

#about-picture {
  max-width: 70%;
  position: relative;
  top: 150px;
}

.tech-stack-section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.tech-stack-icon-wrapper {
  /* Use `margin: 0 auto` for centering the tech stack icons without the `max-width: 400px` attribute pushing the icon wrapper off from center */
  max-width: 400px;
  text-align: center;
  margin: 0 auto;

}

.tech-stack-icon {
  /* background-color: red; */
  margin: 3px;
}

.tech-stack-icon-hyperlink {
  text-decoration: none;
}

.skills-table {
  /* background-color: red; */
  position: relative;
  /* top: 150px; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 120px; */
}



/* ANIMATION!! */

/* color-change is just the name of the animation */
@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {

  /* Moves the cloud from left (origin) to right 200px, no vertical movement */
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  /* "alternate" will move the cloud back and forth (left-right-left...) */
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.error-message {
  color: red;
}

.page-header {
  position: fixed;
  z-index: 2;

  /* set header at very top of page */
  top: 0;
}